:root {
    background-color: #FFFDD0;
}

.hero {
    position: relative;
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero::before {
    content: "";
    background-image: url(./assets/images/hero.png);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.65;
}